
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1484109748162'); /* IE9*/
  src: url('iconfont.eot?t=1484109748162#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484109748162') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1484109748162') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484109748162#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:8px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chaxun:before { content: "\e606"; }

.icon-zanting:before { content: "\e607"; }

.icon-danquxunhuan:before { content: "\e608"; }

.icon-changpian:before { content: "\e609"; }

.icon-erji:before { content: "\e60a"; }

.icon-huatong:before { content: "\e60b"; }

.icon-jianshao:before { content: "\e60c"; }

.icon-jingyin:before { content: "\e60d"; }

.icon-shanchu:before { content: "\e613"; }

.icon-shengyin:before { content: "\e614"; }

.icon-kuaitui:before { content: "\e615"; }

.icon-suiji:before { content: "\e616"; }

.icon-xiai:before { content: "\e617"; }

.icon-bofang:before { content: "\e618"; }

.icon-zhongzhi:before { content: "\e619"; }

.icon-jinzhi:before { content: "\e61a"; }

.icon-liebiao:before { content: "\e61b"; }

.icon-shezhi:before { content: "\e61c"; }

.icon-shuaxin:before { content: "\e61d"; }

.icon-zengjia:before { content: "\e60e"; }

.icon-kuaijin:before { content: "\e60f"; }

.icon-yinle:before { content: "\e610"; }

.icon-pinghengqi:before { content: "\e611"; }

