*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
}

body{
	font-size: 100%;
	height: 100%;
	width: 100%;
}

.dot{
	width: 12px;
	height: 12px;
	position: absolute;
	background: #00CD66;
	top: -50%;
	left: 0%;
	border: 3px solid #fff;
	border-radius: 6px;
	box-shadow: 0 0 5px 0px #000;
}

.dot-volume{
	width: 8px;
	height: 8px;
	position: absolute;
	top: -3px;
	left: 0%;
	background: #00CD66;
	border: 2px solid #fff;
	border-radius: 4px;
	box-shadow: 0 0 5px 0px #000;
}

.footer{
	width: 100%;
	height: 14%;
}

.footer button{
	width: 20%;
	height: 100%;
	float: left;
	border: 0;
	outline: none;
	font-size: 1.5em;
}

.icon-bofang:before,.icon-zanting:before{
	font-size: 2.6em;
}

.iconfont{
	background: #333;
	color: #DEDEDE;
	border: 0;
}

.iconfont:hover{
	color: #fff;
}
.iconfont:active{
	color: #ccc;
}

.icon-danquxunhuan:before,.icon-kuaitui:before,.icon-kuaijin:before,.icon-liebiao:before{
	font-size: 1.8em;
}
.icon-liebiao:before{
	font-size: 1.5em;
}

.icon-shengyin:before{
	font-size: 2.8em;
}

.bg {
    min-height: 100%;
    min-width: 50em;
    min-height: 80em;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
	z-index: -10;
}

.panel{
	width:35%;
	height: 80%;
	background: #333;
	padding: 0;
	position: absolute;
	border: 2px solid #636363;
	border-radius: 10px;
    top: 5%;
    left: 35%;
    overflow: hidden;
    box-shadow: 0 0 10px 1px #000;
}

.panel-title{
	background: #333;
	width: 100%;
	height: 9%;
	text-align:center;
	font-size: 180%;
	color: #fff;
	text-shadow: 0 1px 5px #595959;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2px;
}



.progress-bar{
	width: 100%;
	height: 1%;
	background: #00B0F0;
	position: relative;
}

.volume{
	width: 100%;
	height: 5%;
	color: #eee;
	background: #333;
	position: relative;
}

.volume i{
	height: 80%;
	position: absolute;
	top: 10%;
	left: 13%;
}

.volume-line{
	height: 6%;
	width: 60%;
	display: block;
	position: absolute;
	top: 48%;
	left: 20%;
	background: #fff;
}

.song-img{
	width: 100%;
	height: 71%;
	background: #333;
	overflow: hidden;
	position: relative;
}
.song-img img{
	height: 60%;
	margin: 0 auto;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	display: block;
	border: .5em solid #fff;
	border-radius: 50%;
}

.song-img img:hover{
	box-shadow: 0 0 3em 0 #888;
}

/****************
**媒体查询样式**
****************/
@media screen and (min-width: 700px) and (max-width: 1025px){  /*ipad pro*/
body{
	font-size: 18px;
}
.panel{
	width:60%;
	background: #333;
	padding: 0;
	position: absolute;
	border: 2px solid #636363;
	border-radius: 10px;
    top: 5%;
    left: 20%;
    overflow: hidden;
    box-shadow: 0 0 10px 1px #000;
}
.volume i{
	padding-top: .3em;
}

}

@media screen and (max-width: 700px){ /*ipad 及以下*/
.iconfont{
	border: 0;
}
.panel{
	width:100%;
	height: 100%;
	position: fixed;
	background: #333;
	border: 0;
	border-radius: 0;
    top: 0;
    left: 0;
}

}